/* for titles */
h1 {
    font-size: 3em;
    padding: 0.5em; 
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

body{
    background-color: rgb(245, 236, 224);
}

li {
    font-size: 1em;
    margin-left: 1em;
    list-style-type: square;
    list-style-position: inside;
 }

 ol li{
    list-style-type: upper-roman;
    list-style-position: inside;
 }

 img {
    width: 100%;
 }

/*-----------------------------------------------------------------------*/
/* for navigation bar */
.links{
    display: flex;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: #355C7D;
}

.links li{
    display: inline-block;
}

.links li a { 
    display: block; 
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    font-size: large;
}

.active {
    background-color: #4a4949;
    font-weight: bold;
}

.links li a:hover:not(.active) {
    background-color: #32415e;
}

/*-----------------------------------------------------------------------*/
/* hide skip to main content unless tab key is pressed on*/
.skip{
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
}

.skip:focus{
    color: #fff;
    background-color:#282727;
    left: auto;
    top: auto;
    width: 25%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 35px;
    text-align:center;
    font-size: 20px;
    z-index: 999;
}

/*-----------------------------------------------------------------------*/
/* using grid */
.bacon{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 3%;
    margin-left: 0.7em;
}

.item img, video, .animated img{
    background-color: #282727;
    border-radius: 40%;
    border: solid 0.3em rgb(184, 159, 126);
}

.momo, .maple, .luna, .vangogh{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 3%;
}

.thailand{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin-left: 0.7em;
    gap: 2%;
}

.pic1 img{
    border-radius: 120px 0 0 0;
    border: 0.2em solid rgb(247, 179, 179);
}

.pic2 img{
    border-radius: 0 120px 0 0;
    border: 0.2em solid rgb(247, 179, 179);
}

.pic3 img{
    border-radius: 0 0 0 120px;
    border: 0.2em solid rgb(247, 179, 179);
}

.pic4 img{
    border-radius: 0 0 120px 0;
    border: 0.2em solid rgb(247, 179, 179);
}

.london, .ny{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.london img{
    border-radius: 50%;
    border: solid 0.2em rgb(247, 179, 179);
}

.ny img{
    border-radius: 40%;
    border: solid 0.2em rgb(247, 179, 179);
}

/*-----------------------------------------------------------------------*/
/* reducing animation */

@media screen and (prefers-reduced-motion: reduce) {
    .animated{
        display: none !important; 
    }

    .travelanimated{
        display: none !important; 
    }
}

